<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/stylesheets/output.css" rel="stylesheet" />
	</head>
	<body class="m-0 p-0 box-border">
		<div id="main" class="w-full min-h-screen bg-gray-900 p-10">
			<nav class="w-full flex justify-between items-center">
				<div class="profile-section flex items-center gap-3">
					<div class="profilepic w-12 h-12 relative rounded-md overflow-hidden">
						<a href="/profile/upload"
							><img
								class="absolute object-cover"
								src="/images/uploads/<%= user.profilepic  %>"
								alt=""
						/></a>
					</div>

					<div class="greeting-text">
						<h3 class="text-4xl text-amber-50 font-alan">
							<span class="tracking-tight font-light">Hello, </span><%=
							user.name %>👋
						</h3>
						<h5
							class="text-md tracking-tight font-light text-rose-300 font-alan mt-[-5px]"
						>
							You can make changes to your profile here.
						</h5>
					</div>
				</div>

				<a href="/logout"
					><input
						type="button"
						value="Logout"
						class="bg-red-400 block self-end px-4 py-2 font-poppins text-amber-50 rounded hover:bg-red-500 cursor-pointer"
				/></a>
			</nav>
			<form
				autocomplete="off"
				action="/upload"
				method="post"
				enctype="multipart/form-data"
				class="flex flex-col w-1/3 gap-y-4 mt-5 font-alan"
			>
				<input
					name="image"
					type="file"
					class="block w-full text-sm text-gray-500 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-blue-500 file:text-white hover:file:bg-blue-600"
				/>

				<input
					type="submit"
					value="Upload"
					class="block self-start px-4 py-2 mt-1.5 bg-rose-400 text-amber-50 rounded hover:bg-rose-500 cursor-pointer"
				/>
			</form>
		</div>
	</body>
</html>
